<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div class="data-container">
  <div class="info-text">Informacje o czytelniku:</div>
  <div class="table-responsive">
    <table class="table bg-light table-striped">
      <tbody>
        <tr>
          <td class="text-center font-weight-bold">ID</td>
          <td class="text-center">{{reader._id.$oid}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Imię</td>
          <td class="text-center">{{reader.name}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Nazwisko</td>
          <td class="text-center">{{reader.surname}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Kod pocztowy</td>
          <td class="text-center">{{reader.postalCode}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Miejscowość</td>
          <td class="text-center">{{reader.city}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Ulica</td>
          <td class="text-center">{{reader.street}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Numer domu</td>
          <td class="text-center">{{reader.houseNumber}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">Numer telefonu</td>
          <td class="text-center">{{reader.phone}}</td>

        </tr>
        <tr>
          <td class="text-center font-weight-bold">ID książek</td>
          <td class="text-center">
            <p class="link" *ngFor='let book of reader.books' (click)='goToDetailsBook(book)'>{{book}};</p>
          </td>

        </tr>

      </tbody>

    </table>
  </div>
  <!-- <button class="btn btn-primary  float-right" >Edytuj</button> -->
</div>