<div class="content">
  <div class="row">
    <div class="col-sm-12 ">
      <table *ngIf="books.length>0; else noBooks" class="table bg-light table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">Tytuł</th>
            <th class="text-center" scope="col">Autor</th>
            <th class="text-center" scope="col">Kategoria</th>
            <th class="text-center" scope="col">Wydawnictwo</th>
            <th class="text-center" scope="col">Rok wydania</th>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">Więcej</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'table-danger':book.isBorrowed}" *ngFor="let book of books">
            <td class="text-center font-weight-bold">{{book.title}}</td>
            <td class="text-center">{{book.author}}</td>
            <td class="text-center">{{book.category}}</td>
            <td class="text-center">{{book.housePublishing}}</td>
            <td class="text-center">{{book.year}}</td>
            <td class="text-center" *ngIf="book.isBorrowed">oddaj książkę</td>
            <td class="text-center" *ngIf="!book.isBorrowed">wypożycz książkę</td>
            <td class="text-center" (click)='goToBookDetails(book)'>
              <i class="material-icons">info_outline</i>
            </td>

          </tr>
        </tbody>

      </table>
      <ng-template #noBooks>
        <div class="col-sm-12 no-books">
          <p>Brak książek do wyświetlenia</p>
        </div>
      </ng-template>

    </div>
  </div>
</div>
