
.logo{
  height: 40px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  color: rgb(255, 255, 255);
 padding: 0 15px;
 display: flex;
 justify-content: center;
 
}

ul li:hover {
  color: #007bff;
  transition: linear 300ms;
}

.active {
  color: #007bff !important;
}
