<nav class="navbar navbar-expand-md navbar-dark bg-dark">

<a class="navbar-brand" ><img [routerLink]="['/books']" src="assets/logo.png" alt="logo library" class="logo link">

</a> 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon "></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class='nav-item' [routerLink]="['/books']" [routerLinkActive]="'active'">Książki</li>
      <li class='nav-item'[routerLink]="['/addBook']" [routerLinkActive]="'active'">
        <i class="material-icons">add_circle_outline</i> Dodaj książkę</li>
      <li class='nav-item'[routerLink]="['/readers']" [routerLinkActive]="'active'">Czytelnicy</li>
      <li class='nav-item'[routerLink]="['/addReader']" [routerLinkActive]="'active'">
        <i class="material-icons">add_circle_outline</i> Dodaj czytelnika</li>
    </ul>
    </div>

</nav>