/* You can add global styles to this file, and also import other style files */

body {
  background: #c4e4fd;
}

.info-text{
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background: white;
  text-align: center;
}
.link{
  cursor: pointer;
 color: #007bff
  
}
.link:hover{
  text-decoration-line: underline;
  
}

.form-search{
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin: 15px 0;
}
button{
  margin: 10px 0;
}
@media only screen and (max-width:440px){
  #content-wrapper{
      margin: 10px 0 !important;
  }
  td{
    font-size: 12px;
  }
}
/* @media (max-width:300px){
  #content-wrapper{
      margin:5px !important
  }
 
} */